<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Download Appodeal Admob Sync App</title>
</head>
<body>
<div class="root">
    <div class="header">
        <div class="row">
            <a href="#" class="header__logo">
                <img src="./images/logo.svg" alt="logo">
            </a>
        </div>
    </div>
    <div class="main">
        <div class="row">
            <div class="main__logo">
                <img src="./images/admob-logo.svg" alt="">
            </div>
            <h1 class="main__title title-h1">AdMob Sync</h1>
            <p class="main__txt p-normal">
                Welcome to the official download page for the AdMob Sync plugin! <br>
                AdMob Sync is a plugin designed to seamlessly connect AdMob to Appodeal. For detailed instructions on how to use AdMob Sync within your app, please refer to
                <a href="https://docs.appodeal.com/networks-setup/admob-sync" target="_blank" class="main__txt-link">our documentation.</a> <br>
                Choose your platform to download.
            </p>
            <div class="button__list">
                <a href="https://chrome.google.com/webstore/detail/appodeal/ajjgfcnjagcnnhjemgaobibbalkjklhd" target="_blank" class="button">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.80212 8.20475L6.74612 15.0357C7.36601 16.1597 8.3301 17.0551 9.49669 17.5904C10.6633 18.1257 11.9708 18.2727 13.2271 18.0097L10.8811 22.0737C5.88512 21.5177 2.00012 17.2807 2.00012 12.1357C2.00012 10.7397 2.28612 9.41175 2.80212 8.20475ZM21.1681 8.13575C21.7187 9.39731 22.002 10.7593 22.0001 12.1357C22.0001 17.2537 18.1551 21.4737 13.1961 22.0657L17.1441 15.2257C17.6881 14.3237 18.0001 13.2657 18.0001 12.1357C18.0022 10.6595 17.4579 9.23467 16.4721 8.13575H21.1681ZM12.0001 8.13575C13.061 8.13575 14.0784 8.55717 14.8285 9.30732C15.5787 10.0575 16.0001 11.0749 16.0001 12.1357C16.0001 13.1966 15.5787 14.214 14.8285 14.9642C14.0784 15.7143 13.061 16.1357 12.0001 16.1357C10.9393 16.1357 9.92184 15.7143 9.17169 14.9642C8.42155 14.214 8.00012 13.1966 8.00012 12.1357C8.00012 11.0749 8.42155 10.0575 9.17169 9.30732C9.92184 8.55717 10.9393 8.13575 12.0001 8.13575ZM12.0001 2.13575C13.5528 2.13458 15.0843 2.49552 16.4731 3.18989C17.8618 3.88426 19.0695 4.89292 20.0001 6.13575H12.0001C10.7367 6.13589 9.50545 6.53468 8.48183 7.27532C7.45822 8.01597 6.69439 9.0607 6.29912 10.2607L3.95312 6.19775C4.88203 4.93718 6.09436 3.91273 7.49222 3.20712C8.89007 2.5015 10.4343 2.1345 12.0001 2.13575Z" />
                    </svg>
                    <span>Chrome <%= dist.linux.version %></span>
                </a>
                <a href="<%= dist.win.fileName %>" download class="button">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.001 5.61474L10.378 4.59874V11.7257H3L3.001 5.61474ZM3.001 18.6567L10.378 19.6737V12.6337H3L3.001 18.6567ZM11.189 19.7817L21.001 21.1357V12.6337H11.189V19.7817ZM11.189 4.48974V11.7257H21.001V3.13574L11.189 4.48974Z" />
                    </svg>
                    <span>Windows <%= dist.win.version %></span>
                </a>
                <a href="<%= dist.mac.fileName %>" download class="button button--apple">
                    <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_5182_41118)">
                            <path d="M23.9341 19.0827C23.3361 20.4067 23.0501 20.9987 22.2821 22.1687C21.2091 23.8027 19.6941 25.8417 17.8211 25.8557C16.1551 25.8697 15.7251 24.7687 13.4641 24.7867C11.2031 24.7977 10.7321 25.8757 9.06411 25.8587C7.19111 25.8417 5.75711 24.0047 4.68311 22.3737C1.68011 17.7987 1.36311 12.4367 3.21911 9.58372C4.53211 7.56072 6.61011 6.37272 8.56111 6.37272C10.5481 6.37272 11.7971 7.46472 13.4401 7.46472C15.0341 7.46472 16.0051 6.36972 18.3031 6.36972C20.0411 6.36972 21.8791 7.31672 23.1921 8.95072C18.8961 11.3047 19.5941 17.4407 23.9341 19.0827ZM16.5591 4.54372C17.3951 3.47072 18.0291 1.95672 17.7991 0.41272C16.4351 0.50572 14.8401 1.37672 13.9081 2.50472C13.0641 3.53172 12.3641 5.05772 12.6371 6.53372C14.1251 6.58172 15.6651 5.69472 16.5591 4.54372Z" />
                        </g>
                        <defs>
                            <clipPath id="clip0_5182_41118">
                                <rect width="26" height="26" transform="translate(0 0.135742)"/>
                            </clipPath>
                        </defs>
                    </svg>
                    <span>Mac OS <%= dist.mac.version %></span>
                </a>
                <a href="<%= dist.linux.fileName %>" download class="button">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_5182_41122)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.26391 15.4257C8.43405 15.4355 8.59888 15.4886 8.74274 15.5799C8.8866 15.6713 9.00473 15.7979 9.08591 15.9477L10.9779 19.4407C11.1376 19.7361 11.212 20.0702 11.1927 20.4054C11.1733 20.7407 11.061 21.0639 10.8684 21.339C10.6757 21.614 10.4103 21.8301 10.1019 21.9628C9.79343 22.0956 9.45411 22.1399 9.12191 22.0907L5.19191 21.5087C5.0233 21.4837 4.86389 21.416 4.72882 21.312C4.59375 21.208 4.48751 21.0712 4.42018 20.9146C4.35285 20.758 4.32667 20.5868 4.34412 20.4172C4.36158 20.2476 4.42209 20.0853 4.51991 19.9457L5.14291 19.0557L4.96891 18.0717C4.94603 17.9424 4.94885 17.8098 4.97723 17.6815C5.00561 17.5533 5.05898 17.4318 5.13429 17.3242C5.2096 17.2166 5.30539 17.1249 5.41616 17.0542C5.52694 16.9836 5.65055 16.9356 5.77991 16.9127L6.76491 16.7397L7.38791 15.8497C7.48562 15.7101 7.61738 15.5978 7.77069 15.5234C7.92401 15.449 8.09378 15.4151 8.26391 15.4247V15.4257ZM14.6109 15.4017C14.7417 15.3313 14.8866 15.2909 15.0351 15.2834C15.1835 15.276 15.3317 15.3017 15.4689 15.3587L15.5849 15.4157L16.5249 15.9587L17.4909 15.6997C17.7276 15.6363 17.9793 15.662 18.1983 15.7718C18.4172 15.8817 18.5883 16.0681 18.6789 16.2957L18.7159 16.4067L18.9749 17.3727L19.9149 17.9157C20.0531 17.9955 20.1703 18.1071 20.2566 18.2414C20.3428 18.3757 20.3957 18.5286 20.4108 18.6875C20.4258 18.8464 20.4027 19.0065 20.3432 19.1546C20.2837 19.3027 20.1897 19.4344 20.0689 19.5387L19.9659 19.6167L16.6509 21.8047C16.3818 21.9824 16.07 22.0849 15.7479 22.1016C15.4258 22.1183 15.1051 22.0486 14.819 21.8997C14.5329 21.7508 14.2918 21.5281 14.1208 21.2547C13.9497 20.9813 13.8548 20.6671 13.8459 20.3447L13.8489 20.1867L14.0869 16.2217C14.0972 16.0518 14.1507 15.8872 14.2424 15.7437C14.3341 15.6002 14.461 15.4825 14.6109 15.4017ZM11.9999 2.13574C13.0608 2.13574 14.0782 2.55717 14.8283 3.30732C15.5785 4.05746 15.9999 5.07488 15.9999 6.13574V7.13574C15.9999 8.34974 16.5019 9.40274 17.1659 10.4897L17.9019 11.6547C18.0019 11.8147 18.0969 11.9697 18.1819 12.1117C18.5019 12.6527 18.8099 13.2517 18.9699 13.8927C19.0778 14.3382 19.1427 14.7929 19.1639 15.2507C18.9155 15.0028 18.6062 14.8245 18.267 14.7339C17.9279 14.6434 17.5709 14.6436 17.2319 14.7347L16.6669 14.8857L16.0849 14.5497C15.7896 14.3794 15.4557 14.2873 15.1148 14.2823C14.7739 14.2772 14.4374 14.3594 14.1373 14.521C13.8371 14.6827 13.5832 14.9183 13.3997 15.2056C13.2162 15.493 13.1092 15.8224 13.0889 16.1627L12.8509 20.1277C12.8299 20.4727 12.8729 20.8117 12.9719 21.1307L12.7029 21.1357H12.2969C12.2209 21.1357 12.1459 21.1347 12.0709 21.1317C12.2909 20.4217 12.2229 19.6397 11.8569 18.9647L9.96591 15.4717C9.8036 15.172 9.56734 14.9186 9.27959 14.7358C8.99183 14.553 8.66212 14.4468 8.32177 14.4273C7.98142 14.4077 7.64172 14.4755 7.33494 14.6242C7.02816 14.7729 6.76447 14.9975 6.56891 15.2767L6.18391 15.8267L5.85391 15.8847C5.82038 15.4983 5.82843 15.1094 5.87791 14.7247C5.91491 14.4397 5.96391 14.1577 6.02991 13.8927C6.22791 13.1007 6.56491 12.4337 6.88691 11.8727L7.32391 11.1327C7.73991 10.4157 7.99991 9.85774 7.99991 9.13574V6.13574C7.99991 5.07488 8.42134 4.05746 9.17148 3.30732C9.92163 2.55717 10.939 2.13574 11.9999 2.13574ZM10.5619 7.91374L9.73991 8.32374C9.96391 8.92074 10.3119 9.47974 10.6369 9.92374L10.8409 10.1927L11.0249 10.4177L11.1059 10.5117L11.3559 10.3707L11.6849 10.1737C11.8609 10.0647 12.0529 9.94174 12.2509 9.80674C12.8549 9.39474 13.4759 8.89674 13.9129 8.37974L11.5969 7.79974C11.2494 7.71294 10.8822 7.75338 10.5619 7.91374Z" />
                        </g>
                        <defs>
                            <clipPath id="clip0_5182_41122">
                                <rect width="24" height="24" transform="translate(0 0.135742)"/>
                            </clipPath>
                        </defs>
                    </svg>
                    <span>Linux <%= dist.linux.version %></span>
                </a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <p class="title-h4">© 2024 Appodeal Inc.</p>

            <div class="footer__info">
                <a href="tel:+14159966877" class="p-small">+1 (415) 996-6877</a>
                <p class="p-small">HQ in McLean, Virginia</p>
            </div>
        </div>
    </div>
</div>
<script>
    if (window.fetch) {
        fetch('/version').then(function (r) {
            return r.text()
        }).then(function (latestVersion) {
            var htmlVersion = '<%= dist.linux.version %>';
            // to make sure it redirect only once if page is cached
            if (htmlVersion !== latestVersion && document.location.search !== '?v=' + latestVersion) {
                document.location.href = '/?v=' + latestVersion;
            }
        }).catch(console.error)
    }
</script>
</body>
</html>
